<div class="guide">
  <div class="main">
    <div class="actions">
      <a href="/<%= @name %>">&laquo; Back</a>
    </div>
    <h1>Comparison of <%= @page.title %>: <%= before %> &rarr; <%= after %></h1>
    <div id="files">
      <div class="file">
        <div class="meta">
          <div class="info">
            <span class="icon">
              <img alt="Txt" height="16" src="/images/txt.png" width="16">
            </span>
						<%= @page.path %>
          </div>
        </div>
        <div class="data highlight">
          <table cellpadding="0" cellspacing="0" width="100%">
						<% lines.each do |ln| %>
              <tr>
                <td class="line_numbers"><%= ln[:ldln] %></td>
                <td class="line_numbers"><%= ln[:rdln] %></td>
                <td width="100%">
                  <pre><div class="<%= ln[:class] %>"><%= ln[:line] %></div></pre>
                </td>
              </tr>
						<% end %>	
          </table>
        </div>
      </div>
    </div>
  </div>
</div>